.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}
.display-none {
    display: none;
}
.background-green {
    background: #047304;
}
.text-indent {
    text-indent: 1rem;
}
