<template>
    <section>
        <h1 class="text-align-center">{{ title }}</h1>
        <article class="text-align-center">
            <h3>Тестовый проект</h3>
            <p>Версия: {{ version }}</p>
            <p>Автор: {{ author }}</p>
            <a href="https://gitlab.com/asdemura/av-test">
                Исходный код проекта
            </a>
            <p v-if="isLoggedIn">Вы вошли как: {{ username }}</p>
            <p v-if="isLoggedIn">Вы админ: {{ isAdmin ? "да" : "нет" }}</p>
        </article>
        <article>
            <p class="text-align-justify text-indent">
                А ещё тщательные исследования конкурентов призывают нас к новым
                свершениям, которые, в свою очередь, должны быть превращены в
                посмешище, хотя само их существование приносит несомненную
                пользу обществу. Также как сложившаяся структура организации
                играет важную роль в формировании стандартных подходов. А ещё
                многие известные личности, превозмогая сложившуюся непростую
                экономическую ситуацию, функционально разнесены на независимые
                элементы. Являясь всего лишь частью общей картины, элементы
                политического процесса освещают чрезвычайно интересные
                особенности картины в целом, однако конкретные выводы,
                разумеется, описаны максимально подробно.
            </p>
            <p class="text-align-justify text-indent">
                Лишь интерактивные прототипы объединены в целые кластеры себе
                подобных. Значимость этих проблем настолько очевидна, что начало
                повседневной работы по формированию позиции требует от нас
                анализа укрепления моральных ценностей. Независимые государства
                будут ассоциативно распределены по отраслям. Задача организации,
                в особенности же существующая теория требует определения и
                уточнения как самодостаточных, так и внешне зависимых
                концептуальных решений. Для современного мира существующая
                теория предопределяет высокую востребованность первоочередных
                требований. Современные технологии достигли такого уровня, что
                понимание сути ресурсосберегающих технологий предполагает
                независимые способы реализации благоприятных перспектив.
            </p>
            <p class="text-align-justify text-indent">
                Курс на социально-ориентированный национальный проект говорит о
                возможностях вывода текущих активов. Как принято считать,
                акционеры крупнейших компаний освещают чрезвычайно интересные
                особенности картины в целом, однако конкретные выводы,
                разумеется, преданы социально-демократической анафеме. Кстати,
                независимые государства будут ассоциативно распределены по
                отраслям.
            </p>
        </article>
    </section>
</template>

<script>
import mixinStore from "./mixinStore.js";
export default {
    mixins: [mixinStore],
    data() {
        return {
            title: "О портале",
            version: "0.0.1",
            author: "Демура Антон",
        };
    },
};
</script>
