<template>
    <section>
        <h1 class="text-align-center">{{ title }}</h1>
        <form @submit.prevent="submit">
            <fieldset class="form-group">
                <label for="login-input">Логин:</label>
                <input
                    id="login-input"
                    required
                    v-model="form.username"
                    type="text"
                    placeholder="введите логин"
                />

                <label for="password-input">Пароль:</label>
                <input
                    id="password-input"
                    required
                    v-model="form.password"
                    type="password"
                    placeholder="введите пароль"
                />
            </fieldset>
            <button type="submit">Войти</button>
        </form>
        <h4 class="text-align-center">
            Еще не зарегестрированы?
            <button class="background-green" @click="goTo">Регистрация</button>
        </h4>
    </section>
</template>

<script>
export default {
    data() {
        return {
            title: "Вход",
            form: {
                username: "",
                password: "",
            },
        };
    },
    methods: {
        submit() {
            this.$store
                .dispatch("login", this.form)
                .then(() => {
                    this.$router.push("products");
                })
                .catch((err) => {
                    alert(err);
                });
        },
        goTo() {
            this.$router.push("registration");
        },
    },
};
</script>
