<template>
    <header>
        <nav>
            <router-link class="logo" :to="{ name: 'home' }">
                Азбука Вкуса
            </router-link>
            <ul class="menu-center">
                <li
                    v-for="(menu, ind) in menus"
                    :key="ind"
                    :class="{ 'display-none': menu.hidden }"
                >
                    <router-link v-if="!menu.hidden" :to="{ name: menu.value }">
                        {{ menu.text }}
                    </router-link>
                </li>
            </ul>
            <select
                class="menu-mini"
                v-model="selectedMenu"
                @change="selectMenu"
            >
                <option value="0" hidden>Меню</option>
                <option
                    v-for="(menu, ind) in menus"
                    :key="ind"
                    :value="menu.value"
                    :hidden="menu.hidden"
                    >{{ menu.text }}</option
                >
            </select>
            <ul class="menu-right">
                <li v-if="!isLoggedIn">
                    <router-link :to="{ name: 'login' }">Вход</router-link>
                </li>
                <li v-else>
                    <a href="#" @click="logout">Выход</a>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
import mixinStore from "./mixinStore.js";
export default {
    mixins: [mixinStore],
    data() {
        return {
            selectedMenu: 0,
        };
    },
    computed: {
        menus() {
            return [
                {
                    value: "products",
                    text: "Обзор продуктов",
                    hidden: !this.isLoggedIn,
                },
                { value: "users", text: "Пользователи", hidden: !this.isAdmin },
                { value: "about", text: "О портале", hidden: false },
            ];
        },
    },
    methods: {
        logout() {
            this.$root.logout();
        },
        selectMenu() {
            if (!this.selectedMenu) return;
            if (this.selectedMenu !== this.$router.currentRoute.name) {
                this.$router.push(this.selectedMenu);
            }
            this.selectedMenu = 0;
        },
    },
};
</script>

<style lang="scss">
@import "../styles/varibles.scss";
header nav,
.menu-mini {
    background: linear-gradient(180deg, #2aa408, #586652);
    min-height: 2em;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-align-last: center;
    font-family: Tahoma, Geneva, sans-serif;
}
header {
    nav {
        display: flex;
        a {
            text-decoration: none;
            color: white;
        }
        ul {
            margin: auto;
            padding: 0;
            li {
                display: inline;
                margin: $margin;
            }
        }
    }
}
$nav-padding: 0.2em;
.logo {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    padding: $nav-padding ($nav-padding * 5) $nav-padding $nav-padding;
}
.menu-center {
    margin-left: 0;
}
.menu-right {
    margin-left: auto;
    margin-right: 0;
    padding-right: $nav-padding;
    padding-left: $nav-padding;
}
.menu-mini {
    display: none;
}
@media only screen and (max-width: 800px) {
    .menu-center {
        display: none;
        height: auto;
    }
    .menu-mini {
        width: 9em;
        padding: 0 0.5em;
        display: block;
        border: 1px solid green;
        border-radius: $border-radius;
        margin: 0px auto;
        color: white;
        position: relative;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        option {
            background: #297514;
        }
    }
    .menu-mini:after {
        background: blue;
    }
}
</style>
