<template>
    <section>
        <h1 class="text-align-center">{{ title }}</h1>
        <h4 class="text-align-center">Продуктов пока нет</h4>
        <button>Добавить</button>
    </section>
</template>

<script>
export default {
    data() {
        return {
            title: "Обзор продуктов",
        };
    },
};
</script>
