<template>
    <section>
        <h1 class="text-align-center">{{ title }}</h1>
        <form @submit.prevent="submit">
            <fieldset class="form-group">
                <label for="login-input">Логин:</label>
                <input
                    id="login-input"
                    required
                    v-model="form.username"
                    type="text"
                    placeholder="введите логин"
                />

                <label for="password-input">Пароль:</label>
                <input
                    id="password-input"
                    required
                    v-model="form.password"
                    type="password"
                    placeholder="введите пароль"
                />

                <label>Почта: </label>

                <input
                    required
                    v-model="form.email"
                    type="email"
                    placeholder="введите email"
                />

                <label>Фамилия:</label>

                <input
                    required
                    v-model="form.lastName"
                    type="text"
                    placeholder="введите фамилию"
                />

                <label>Имя:</label>

                <input
                    required
                    v-model="form.firstName"
                    type="text"
                    placeholder="введите имя"
                />

                <label>Отчество:</label>

                <input
                    v-model="form.middleName"
                    type="text"
                    placeholder="введите отчество"
                />
            </fieldset>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <h4 class="text-align-center">
            Уже зарегестрированы?
            <button class="background-green" @click="goTo">Вход</button>
        </h4>
    </section>
</template>

<script>
export default {
    data() {
        return {
            title: "Регистрация",
            form: {
                username: "",
                password: "",
                firstName: "",
                lastName: "",
                middleName: "",
            },
        };
    },
    methods: {
        submit() {
            this.$store
                .dispatch("registration", this.form)
                .then(() => {
                    this.$router.push("products");
                })
                .catch((err) => {
                    alert(err);
                });
        },
        goTo() {
            this.$router.push("login");
        },
    },
};
</script>
