<template>
    <section>
        <h1 class="text-align-center">{{ title }}</h1>
        <table border="1" align="center" cellpadding="10rem">
            <tr>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Почта</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
            </tr>
            <tr v-for="(user, username) in users" :key="username">
                <td>{{ username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.middleName }}</td>
            </tr>
        </table>
    </section>
</template>

<script>
import mixinStore from "./mixinStore.js";
export default {
    mixins: [mixinStore],
    data() {
        return {
            title: "Пользователи",
        };
    },
    computed: {
        users() {
            return this.$store.state.users;
        },
    },
};
</script>
