<template>
    <div id="app" class="container">
        <nav-bar />
        <main><router-view /></main>
    </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";

export default {
    name: "App",
    components: {
        NavBar,
    },
};
</script>

<style lang="scss">
@import "./styles/main.scss", "./styles/varibles.scss";
body {
    color: #333333;
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 360px;
}
main {
    display: flex;
    overflow: auto;
}
section {
    background: #e9e3ff;
    margin: auto;
    border-radius: $border-radius;
    padding: 2 * $padding;
}
table {
    text-align: center;
    margin: $margin;
}
.form-group {
    width: 80vw;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: $margin;
    grid-row-gap: 2 * $margin;
    label, input {
        padding: $padding;
    }
}
button {
    margin: (2 * $margin) auto;
    padding: $padding (2 * $padding);
    color: white;
    display: flex;
    background: #008abd;
    border: 1px solid black;
    border-radius: $border-radius;
}
button:active {
    box-shadow: inset 0 0 0.5rem;
}
</style>
